{% extends 'base.html.twig' %}

{% block title %}Create ingredient{% endblock %}

{% block body %}
    <h1 class="display-4 text-center mt-5">Create new ingredient</h1>

    {{ form(formIngredient) }}

{% endblock %}