{% extends 'base.html.twig' %}

{% block title %}Edit ingredient{% endblock %}

{% block body %}
    <h1 class="display-4 text-center mt-5">Edit ingredient</h1>

    {{ form(formIngredient) }}

{% endblock %}