{% extends 'base.html.twig' %}

{% block title %}List of ingredients{% endblock %}

{% block body %}
    <h1 class="display-4 text-center mt-5">List of ingredients</h1>

    <a href="{{ path('ingredient_add') }}" title="Add new ingredient" class="btn btn-info">New ingredient</a>

    {% include 'block/flashmessage.html.twig' with {'flashMessages': app.session.flashbag.all } %}

    <table class="table mt-5">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for ingredient in ingredients %}
                <tr>
                    <th scope="row">{{ ingredient.id }}</th>
                    <td>{{ ingredient.name }}</td>
                    <td>{{ ingredient.cost }}</td>
                    <td>
                        <a href="{{ path('ingredient_edit', {'id': ingredient.id}) }}">
                            Edit
                        </a> |
                        <a href="{{ path('ingredient_delete', {'id': ingredient.id}) }}">
                            Delete
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" class="text-center">No pizza</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
