{% extends 'base.html.twig' %}

{% block title %}Create pizza{% endblock %}

{% block body %}
    <h1 class="display-4 text-center mt-5">Create new pizza</h1>

    {%
        form_theme formPizza
        'jquery.collection.html.twig'
        'pizza/collectionIngredientsType.html.twig'
    %}
    {{ form(formPizza) }}

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $('.pizza-ingredients-collection').collection({
            position_field_selector: '.position-ingredient'
        });
    </script
{% endblock %}