{% block PizzaIngredientType_label %}{% endblock %}

{% block PizzaIngredientType_widget %}

    <div class="row">
        <div class="col-md-4">
            {{ form_widget(form.ingredient) }}
            {{ form_widget(form.position) }}
        </div>
        <div class="col-md-3">
            <a href="#" class="collection-up btn btn-link" title="Move ingredient up">Up</a>
            <a href="#" class="collection-down btn btn-link" title="Move ingredient down">Down</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="collection-remove btn btn-danger" title="Delete ingredient">Remove</a>
            <a href="#" class="collection-add btn btn-success" title="Add ingredient">Add</a>
        </div>
    </div>

{% endblock %}