{% extends 'base.html.twig' %}

{% block title %}List of pizzas{% endblock %}

{% block body %}
    <h1 class="display-4 text-center mt-5">List of pizzas</h1>


    <a href="{{ path('pizza_add') }}" title="Add new pizza" class="btn btn-info">New pizza</a>

    {% include 'block/flashmessage.html.twig' with {'flashMessages': app.session.flashbag.all } %}

    <table class="table mt-5">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for pizza in pizzas %}
                <tr>
                    <th scope="row">{{ pizza.id }}</th>
                    <td>{{ pizza.name }}</td>
                    <td>{{ pizza.price }}</td>
                    <td>{{ pizza.description }}</td>
                    <td>
                        <a href="{{ path('pizza_edit', {'id': pizza.id}) }}">
                            Edit
                        </a> |
                        <a href="{{ path('pizza_delete', {'id': pizza.id}) }}">
                            Delete
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" class="text-center">No pizza</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
