{% for label, flashes in flashMessages %}
    <div class="mt-5">
        {% for flash in flashes %}
            <div class="alert alert-{{ label }}">
                {{ flash }}
            </div>
        {% endfor %}
    </div>
{% endfor %}